@use '../../themes/utilities' as utils;
@use '../../themes/mixins' as mixins;

.blog-container {
  @include utils.container(900px);
}

.blog-header {
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--divider-color);
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    
    @include mixins.respond-to-max(sm) {
      font-size: 2rem;
    }
  }
  
  .subtitle {
    font-size: 1.1rem;
    color: var(--text-secondary);
    margin: 0;
  }
}

.blog-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.no-posts {
  @include utils.empty-state;
}
