<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">bitsbybeier</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" [routerLink]="['/cms']" (click)="collapse()">CMS</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" [routerLink]="['/login']" (click)="collapse()">Login</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated && currentUser">
            <span class="nav-link">{{ currentUser.name }}</span>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
          </li>
          <li class="nav-item">
            <button 
              class="btn btn-link nav-link theme-toggle" 
              (click)="toggleTheme()"
              [attr.aria-label]="isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'"
              title="Toggle theme"
            >
              <span class="theme-icon">{{ isDarkMode ? '☀️' : '🌙' }}</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
